<html>

<head>
      <title>Bomb Weeper</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
      <script src="main.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
      <link rel="stylesheet" href="style.css" />
</head>

<body ng-app="myApp" ng-controller="appCtrl as c" ng-cloak>
      <p id="title">
            BOMB WEEPER
      </p>
      <div id="prompt-wrap">
            <p id="prompt" ng-style="{ color: c.prompt.color }">
                  {{ c.prompt.text || '&nbsp;' }}
            </p>
      </div>
      <table>
            <tbody>
                  <tr ng-repeat="row in c.map track by $index">
                        <td ng-repeat="cell in row track by $index" ng-click="c.cellClicked(row, $index)" ng-class="{ lost: c.isLost }">
                              <div ng-show="cell == 1">
                                    <i class="fas fa-bomb"></i>
                              </div>
                        </td>
                  </tr>
            </tbody>
      </table>

      <div id="dashboard">
            <button autofocus ng-click="c.restartGame()">RESTART</button>
            <span>World: {{ c.world }}</span>
            <span>Points: {{ c.points }}</span>
            <span>Time: {{ c.time }}</span>
      </div>


      <div id="debug">
            Size:
            <input type="number" ng-model="c.size" /> Timeout:
            <input type="number" ng-model="c.timeout" />
            <button ng-click="c.createMap()">RECREATE</button>
      </div>

      <div id="guide">
            Find a row / column without any bombs on it and click on any piece of ground on it, before your time runs out.
      </div>
</body>

</html>
