body {
   font-family: sans-serif;
   width: fit-content;
}

p {
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   margin: 10px;
}

#title {
   color: darkgreen;
}

#prompt {
   opacity: 0;
}

table {
   border: 2px solid darkgoldenrod;
   margin: 20px auto;
   background-color: lightgreen;
   font-size: 28px;
}

td {
   height: 45px;
   min-width: 33px;
   border: 5px double green;
   border-radius: 5px;
   background-color: darkgoldenrod;
   text-align: center;
}

.cell {}

#dashboard {
   margin: 10px;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}

input {
   width: 60px;
}

#buttons,
#guide {
   margin: 50px;
}
