body {
   font-family: sans-serif;
   width: fit-content;
}

p {
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   margin: 10px;
}

#title {
   color: darkgreen;
}

#prompt-wrap {
   height: 30px;
   display: flex;
   justify-content: center;
}

#prompt {
   position: absolute;
   opacity: 0;
   transform: translateY(100%);
}

table {
   border: 2px solid darkgoldenrod;
   margin: 20px auto;
   background-color: lightgreen;
   font-size: 28px;
}

td {
   height: 45px;
   min-width: 33px;
   border: 5px double green;
   border-radius: 5px;
   background-color: darkgoldenrod;
   text-align: center;
   transition: .5s background-color;
   cursor: pointer;
}

td.lost {
   background-color: red;
}

#dashboard {
   margin: 10px;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}

input {
   width: 60px;
}

#dashboard,
#debug,
#guide {
   margin: 50px;
}

#debug {
   display: none;
}
